{% extends 'base.html.twig' %}

{% block title %}Gestion villes{% endblock %}
{% block header %}
    {% include 'main/Navbar.html.twig' %}
{% endblock %}
{% block body %}
    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

    <h3 id="titre_ajouterLieu" class="text-center">Modifier une ville</h3>

    <div class="row">
        <div class="col-2">
        </div>
        <div id="form_ajouterLieu" class="col-5">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <a href="{{ path('administrateur_ville') }}" class="btn btn-info float-right " role="button">Annuler</a>
            <input type="submit" class="btn btn-info float-right mr-sm-2" value="Enregistrer">
            {{ form_end(form) }}
        </div>
        <div class="col-5">
        </div>
    </div>
{% endblock %}